<!-- <app-qlib-home></app-qlib-home> -->

<!-- <app-employee></app-employee>
<app-dept></app-dept>
<app-Country></app-Country> -->

<div class="container">
  <br />
  <!-- <h1>Qlib Management</h1> -->
  <nav>
      <button class="btn btn-primary" routerLink=" " routerLinkActive="red">Go Home </button>
      <button class="btn btn-warning" routerLink="qlibhome">QlibHome</button>
      <button class="btn btn-warning" routerLink="newquery">New Query</button>
      <button class="btn btn-warning" routerLink="sections">Sections</button>
      <button class="btn btn-warning" routerLink="newsection">New Section</button>
  </nav>
  <br />
  <router-outlet></router-outlet>
</div>